.custom-button {
  background-color: white !important;
  color: #a86a4c !important;
  border: 3px solid #a86a4c !important;
  border-radius: 8px;
  padding: 4px 12px;
  font-weight: bold;
  font-size: 24px;
  transition: all 0.3s ease-in-out;
  width: 120px;
  cursor: pointer;
}

.custom-button:hover {
  background-color: #a86a4c !important;
  color: white !important;
}

.custom-button:disabled {
  background-color: #ccc !important; 
  color: #888 !important; 
  border-color: #888 !important;
  cursor: not-allowed !important;
  opacity: 0.6;
}
