@keyframes floatUpDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

/* Home.css */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 0.5s ease-in-out;
}

.fade-out {
  transition: fadeOut 0.5s ease-out;
}

.slide-up {
  animation: slideUp 0.5s ease-in-out;
}

.content-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: opacity 0.5s ease-in-out;
}

.bubble-container {
  position: relative;
  display: inline-block;
  text-align: center;
  animation: floatUpDown 1.5s ease-in-out infinite
}

.text-bubble1 {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -2;
}

.text-bubble2 {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -2;
  object-fit: contain;
  height: 150px;
}

.text-bubble3 {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -2;
  object-fit: contain;
  height: 150px;
}

.text-content {
  position: relative; 
  z-index: 1;
  color: #a86a4c; 
  font-weight: bold;
  padding: 20px;
}

.cinamorol-gifs {
  width: 100%;
  min-width: 225px;
  height: auto;
  object-fit: contain;
}

.cat-gifs {
  width: 100%;
  min-width: 225px;
  height: auto;
  object-fit: contain;
}

.hellokitty-gifs {
  width: 100%;
  max-width: 225px;
  height: auto;
  object-fit: contain;
}

.maintenance-text {
  color: #a86a4c; 
  font-size: 24px;
}

.silence-audio {
  display: none;
}